.featuredDashEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d2a24;

  > h2 {
    padding-bottom: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .eventCard {
      width: 250px;
      height: 275px;
      border-radius: 10px;
      border: 1px solid #2d2a24;
      box-sizing: border-box;
      background-color: #faf8f6;
      cursor: pointer;
      &:hover {
        border-color: #956d37; // your primary brass
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
        transition: all 0.2s ease-in-out;
      }
      .imgWrapper {
        width: 100%;
        height: 150px;
        overflow: hidden;
        .img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 100%;
        }
      }
      .cardContent {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .title,
        .tickets,
        .date {
          font-size: 16px;
          padding-bottom: 8px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .title {
          justify-content: flex-start;
        }
        .date,
        .tickets {
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
  .link {
    width: 120px;
    height: 35px;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #956d37;
    color: white;
    &:hover {
      background-color: #7a572d;
    }
  }
}
@media (min-width: 768px) {
  .featuredDashEvents {
    .content {
      flex-direction: row;
      .eventCard {
        width: 200px;
        height: 250px;
        .imgWrapper {
          width: 100%;
          height: 125px;
        }
      }
    }
  }
}

@media (min-width: 1248px) {
  .featuredDashEvents {
  }
}
