.scannerPage {
  background: #2d2a24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
  color: #ddc09f;
  background-image: radial-gradient(
      circle at 20% 20%,
      rgba(180, 90, 12, 0.05),
      transparent 25%
    ),
    radial-gradient(circle at 80% 80%, rgba(136, 68, 8, 0.05), transparent 25%);
  background-size: 400px 400px;
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ddc09f;
  text-align: center;
}

.scannerBox {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
  p {
    color: #7a572d;
    font-size: 1rem;
    z-index: 2;
  }

  video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; //default
    border-radius: 12px;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #956d37;
    color: #faf8f6;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(149, 109, 55, 0.5);
    &:hover {
      background: #7a572d;
    }
  }
}
.resultBox {
  margin-top: 20px;
  padding: 16px;
  background: #faf8f6;
  border: 2px solid #e9d6c5;
  border-radius: 8px;
  width: 200px;
  text-align: center;

  h2 {
    margin-bottom: 8px;
    color: #ddc09f;
  }

  p {
    font-size: 1.1rem;
    color: #ddc09f; // Text on Dark
    word-break: break-word;
  }
}
